<template>
  <TodosComponent />
</template>

<script lang="ts">
import TodosComponent from "@/components/TodosComponent.vue";

export default {
  name: "todos",
  components: {
    TodosComponent
  }
};
</script>
